/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.trans {
  transition: opacity 0.3s ease-in-out;
}

.transs {
  transition: transform 0.3s ease-in-out;
}
