/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.trans {
  transition: opacity 0.3s ease-in-out;
}

.transs {
  transition: transform 0.3s ease-in-out;
}

.side-bar {
  animation-name: buttom-to-top;
  animation-duration: 1s;
}

@keyframes buttom-to-top {
  0% {
    top: 150px;
  }

  100% {
    top: 63px;
  }
}
